.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/CustomMapView/build
/HeaderListView/build
/PinterestLikeAdapterView/build
/PullToRefresh/build
/SlidingMenu/build